<br><h2 style="text-align:center"><b>UST VENDOR-CONTACT MANAGEMENT</b></h2>
<br><br>
<div class="container-fluid">
    
    <ul class="nav nav-pills nav-fill">
       
        <li>
          <a [routerLink]="['/home/vendordet']" class="btn btn-info" style="text-align:center; margin-left: 15px">Vendor Details</a>
      
          <button class="btn btn-secondary"  (click)="logout()" style="margin-left:980px">
              Logout
            </button>
          </li>
    </ul>

    <br><br>
    <div>
        <h2 style="text-align:center">
        <img src="assets/images1.jpg">
  </h2><br>
  </div> 
    
  </div>
  
<router-outlet></router-outlet>